<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kasirkita">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_rounded"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_rounded"
        android:supportsRtl="true"
        android:theme="@style/Theme.KasirKita">
        <activity
            android:name=".kasir.KasirActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".daftar_barang.DaftarBarangActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".tambah_barang.TambahBarangActivity"
            android:exported="false"
            android:parentActivityName=".daftar_barang.DaftarBarangActivity" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
    </application>

</manifest>